.person {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin: 20px auto;
}
.person img {
  width: 32px;
  height: 32px;
  border-radius: 50%;
}
.person span {
  margin: auto 10px;
}
.person::before {
  content: "";
}
